body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: #020617;
  color: #e5e7eb;
}

/* HOME PAGE */
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background: #020617;
  padding: 60px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 30px rgba(34, 197, 94, 0.35);
  max-width: 550px;
}

.ctf-icon {
  width: 90px;
  margin-bottom: 20px;
}

.home-card h1 {
  color: #22c55e;
  margin-bottom: 15px;
}

.home-card p {
  color: #9ca3af;
  font-size: 16px;
  margin-bottom: 30px;
}

.start-btn {
  background: #22c55e;
  color: #020617;
  padding: 14px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.start-btn:hover {
  opacity: 0.85;
}
